a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: #19A6CF;
}

a {
  color: #19A6CF;
}

html {
  font-size: 14px;
  color: #19A6CF;
}
@media (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem #19A6CF;
}
