@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
    background-color: #081E3F;
  }
}

body, html {
  height: 100%;
}
