body {
  /*background: #f7f7f7;*/
  background: #081E3F;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rowComp {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #19A6CF;
}
.rowCommand {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #19A6CF;
  margin-top: 5%
}
