
<div class="row">

  <div class="col-md-4">
    <div class="rowComp">
      <h4>Temperatura interna</h4>
    </div>
    <div class="rowComp">
      <app-thermometer [temp]="tempInternal"></app-thermometer>
    </div>
    </div>

  <div class="col-md-4">
    <div class="rowComp">
      <h4>Luminosità</h4>
    </div>
    <div class="rowComp">
      <app-progress [lum]="light"></app-progress>
      </div>
    </div>

  <div class="col-md-4">
    <div class="rowComp">
      <h4>Temperatura esterna</h4>
    </div>
    <div class="rowComp">
      <app-thermometer [temp]="tempExternal"></app-thermometer>
      </div>
    </div>
  </div>

<div class="row">

  <div class="col-md-4">
    <div class="rowCommand">
      <h4>Luce</h4>
    </div>
    <div class="rowCommand">
      <ui-switch [checked]="!!led1" (click)="lightSwitch()" color="#0E5F76"></ui-switch>
    </div>
  </div>

    <div class="col-md-4">
      <div class="rowCommand">
        <h4>Tapparella</h4>
      </div>
      <div class="rowCommand">
        <ui-switch [checked]="buttonLight" (click)="stepSwitch()" color="#0E5F76"></ui-switch>
      </div>
    </div>

    <div class="col-md-4">
      <div class="rowCommand">
        <h4>Cancello</h4>
      </div>
    <div class="rowCommand">
      <ui-switch [checked]="buttonLight" (click)="servoSwitch()" color="#0E5F76"></ui-switch>
    </div>
  </div>
  </div>

